name: Clang

on: push

jobs:
  clang:
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 11
            os: 'ubuntu-22.04'
          - version: 13
            os: 'ubuntu-22.04'
          - version: 15
            os: 'ubuntu-22.04'
          - version: 17
            os: 'ubuntu-24.04'
          - version: 19
            os: 'ubuntu-24.04'
    runs-on: ${{ matrix.os }}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          persist-credentials: false
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y catch cmake clang-${{ matrix.version }} libxml2-dev pkg-config zlib1g-dev
      - name: Build with Clang ${{ matrix.version }}
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          mkdir build
          cd build
          cmake ../
          make -j4
          ctest -V
      - name: Build with Clang ${{ matrix.version }} - static linking
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          mkdir build-static
          cd build-static
          cmake .. -DENABLE_STATIC_LINKING=ON -DENABLE_LTO=ON
          cmake --build . -j2
        # Only do static build on latest version in the matrix.
        if: matrix.version == 19
